

h1{
    margin: 0%;
}

.category-input {
    display: flex;
}

.form-field {
    margin: 5px;
    width: 100%;
}

#Category {
    height: 80px;
}

.addCategory{
    background-color: rgb(21, 201, 126);
    color: #FFF;
    text-align: center;
    border:0;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    padding: 10px 0px;
    border-radius: 0;
    float:right;
    height: 40px;
}

.editRecordScreen{
    width: 100%;
    position:fixed;
    bottom:0px;
    display: grid;
}

.categoryButtons{
    width: 100%;
    display: flex;
}

.categoryData{
    font-size: 18px;
    background: #F6AA93 none repeat scroll 0% 0%;
    color: rgb(255, 255, 255);
    padding: 15px 5px;
    border-radius: 0px 0px 5px 5px;
    margin: auto;
    text-shadow: none;
    text-align: center;
    width: 100%
}
